@font-face{
	font-family: 'Cabin', sans-serif;
	font-weight: normal;
	font-style: normal;
}
.pageHeader{
	font-family: 'Cabin', sans-serif;
	text-align: center;
}
.myTopnav{
	list-style-type: none;
	text-align: right;
	word-spacing: 2em;
}
.paragraphs{
	background-color: rgba(0,255,255,0.2);
	position: absolute;
	font-family: 'Cabin', sans-serif;
	top:10em;
}
.bodyTitle{
	text-align: center
}
.bodyText{
	text-align: center
}
.gallery{
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	top: 440px;
}
.picture{
	width: 25%;
}
.pageFooter{
	position: absolute;
	top: 120%;
	width: 100%;
	padding: 1cm;
	background-color: rgba(0,0,135,1);
	font-color: white;
	background: linear-gradient(red, yellow);
}
button:hover {
	color: orange;
}
button:active {
	color: purple;
}