.nav-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 40px;
	background-color: black;
	overflow: hidden;
}
.nav-bar a {
	display: block;
	float: left;
	padding: 12px 20px;
	color: white;
	text-decoration: none;
}
.nav-bar a:hover {
	background-color: green;
}

.footer {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 40px;
	background-color: black;
	overflow: hidden;
}
.footer a {
	display: block;
	float: right;
	padding: 12px 20px;
	color: white;
	text-decoration: none;
}
.footer a:hover {
	background-color: green;
}

.days {
	height:350px;
}
.card {
	margin-bottom: 20px;
	float: left;
	width: 20%;
}
.day {
	margin: 4px;
	height: 230px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.name {
}

.banner {
	width: 100%;
}
.title {
	text-align: center;
}
.profile {
	margin: 16px;
	text-align: center;
}
@media screen and (max-width: 650px) {
	.card {
		width: 100%;
		display: block;
	}
}