.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 40px;
  background-color: black;
  overflow: hidden;
}
.nav-bar a {
  display: block;
  float: left;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
}
.nav-bar a:hover {
  background-color: green;
}
.banner {
  width: 100%;
}
.title {
  text-align: center;
  color: red;
}
.profile {
  margin: 16px;
  text-align: center;
}